<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}" >
	<head>
	    <title>View Customers</title>
	</head>
	<body>
		<div layout:fragment="content">
			<!--begin::Card-->
			<div class="card">
				<!--begin::Card body-->
				<div class="card-body p-0">
					<!--begin::Wrapper-->
					<div class="card-px text-center py-20 my-10">
						<!--begin::Title-->
						<h2 class="fs-2x fw-bold mb-10">Welcome to Customers App</h2>
						<!--end::Title-->
						<!--begin::Description-->
						<p class="text-gray-400 fs-4 fw-semibold mb-10">There are no customers added yet.
						<br />Kickstart your CRM by adding a your first customer</p>
						<!--end::Description-->
						<!--begin::Action-->
						<a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_add_customer">Add Customer</a>
						<!--end::Action-->
					</div>
					<!--end::Wrapper-->
					<!--begin::Illustration-->
					<div class="text-center px-4">
						<img class="mw-100 mh-300px" alt="" src="/assets/media/illustrations/sketchy-1/2.png" />
					</div>
					<!--end::Illustration-->
				</div>
				<!--end::Card body-->
			</div>
			<!--end::Card-->
		<!--begin::Modals-->
		<div th:replace="~{pages/customers/modals.html}"></div>
		<!--end::Modals-->
		</div>
		<!--end::Content container-->
	</body>
	<!--end::Body-->
</html>