<!--begin::Content-->
<div id="kt_app_content" class="app-content  flex-column-fluid " >
        <!--begin::Content container-->
        <div id="kt_app_content_container" class="app-container  container-fluid ">
<!--begin::Row-->
<div class="row g-5 g-xl-10">
    <!--begin::Col-->
    <div class="col-xxl-6 mb-md-5 mb-xl-10">
        <!--begin::Row-->
        <div class="row g-5 g-xl-10">
            <!--begin::Col-->
            <div class="col-md-6 col-xl-6 mb-xxl-10">
<div th:replace="partials/widgets/cards/_widget-8.html"></div>
<div th:replace="partials/widgets/cards/_widget-5.html"></div>
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-md-6 col-xl-6 mb-xxl-10">
<div th:replace="partials/widgets/cards/_widget-9.html"></div>
<div th:replace="partials/widgets/cards/_widget-7.html"></div>
            </div>
            <!--end::Col-->
        </div>
        <!--end::Row-->
    </div>
    <!--end::Col-->
    <!--begin::Col-->
    <div class="col-xxl-6 mb-5 mb-xl-10">
<div th:replace="partials/widgets/maps/_widget-1.html"></div>
    </div>
    <!--end::Col-->
</div>
<!--end::Row-->
<!--begin::Row-->
<div class="row g-5 g-xl-10 g-xl-10">
    <!--begin::Col-->
    <div class="col-xl-4 mb-xl-10">
<div th:replace="partials/widgets/engage/_widget-1.html"></div>
    </div>
    <!--end::Col-->
    <!--begin::Col-->
    <div class="col-xl-4 mb-xl-10">
<div th:replace="partials/widgets/charts/_widget-5.html"></div>
    </div>
    <!--end::Col-->
    <!--begin::Col-->
    <div class="col-xl-4 mb-5 mb-xl-10">
<div th:replace="partials/widgets/lists/_widget-6.html"></div>
    </div>
    <!--end::Col-->
</div>
<!--end::Row-->
<!--begin::Row-->
<div class="row g-5 g-xl-10">
    <!--begin::Col-->
    <div class="col-xxl-4 mb-xxl-10">
<div th:replace="partials/widgets/lists/_widget-7.html"></div>
    </div>
    <!--end::Col-->
    <!--begin::Col-->
    <div class="col-xxl-8 mb-5 mb-xl-10">
<div th:replace="partials/widgets/charts/_widget-13.html"></div>
    </div>
    <!--end::Col-->
</div>
<!--end::Row-->
<!--begin::Row-->
<div class="row g-5 g-xl-10 g-xl-10">
    <!--begin::Col-->
    <div class="col-xl-4 mb-xl-10">
<div th:replace="partials/widgets/lists/_widget-8.html"></div>
    </div>
    <!--end::Col-->
    <!--begin::Col-->
    <div class="col-xl-4 mb-xl-10">
<div th:replace="partials/widgets/lists/_widget-9.html"></div>
    </div>
    <!--end::Col-->
    <!--begin::Col-->
    <div class="col-xl-4 mb-5 mb-xl-10">
<div th:replace="partials/widgets/charts/_widget-14.html"></div>
    </div>
    <!--end::Col-->
</div>
<!--end::Row-->
<!--begin::Row-->
<div class="row g-5 g-xl-10 g-xl-10">
    <!--begin::Col-->
    <div class="col-xl-4">
<div th:replace="partials/widgets/lists/_widget-12.html"></div>
    </div>
    <!--end::Col-->
    <!--begin::Col-->
    <div class="col-xl-8">
<div th:replace="partials/widgets/charts/_widget-15.html"></div>
    </div>
    <!--end::Col-->
</div>
<!--end::Row-->
        </div>
        <!--end::Content container-->
    </div>
<!--end::Content-->